body {
  min-width: 400px;
  min-height: 100vh;
  font-family: "Zain", serif;
  background-image: linear-gradient(to top, white, #f2ede4);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
}

#top {
  text-align: center;
  font-weight: 400;
}

h1 {
  font-size: 3.75rem;
  letter-spacing: 7px;
  font-family: "Bungee", serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(0, 0, 59);
  padding-top: 0.25em;
  margin: 0.25em 0;
}

h3 {
  font-size: 1.75rem;
  margin: 0;
}

button {
  font-family: "Zain", serif;
  background-color: black;
  color: white;
  font-size: 1.25em;
  font-weight: 600;
  margin: 0 1em;
  border-radius: 12px;
  width: 6em;
  padding: 0;
}

button:hover {
  cursor: pointer;
  border: black 3px solid;
}

#message {
  font-size: 20px;
}

#userName {
  margin: 0.25em 0;
}

#logon-register {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

#logon-div {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
#logon-div > form > div {
  margin: 0.5em 0;
}

#logon-div > form > div > label {
  font-size: 1.25rem;
  font-weight: bold;
  margin-right: 1em;
}

#logon-div > form > div > input {
  font-family: monospace;
  border: black solid 1px;
  height: 1.25rem;
  width: 20em;
  float: right;
}

#logon-div > form > button {
  margin-top: 1em;
}

#register-div {
  display: flex;

  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#register-div > form > div > label {
  font-size: 1.25rem;
  margin-right: 1.75em;
  font-weight: bold;
}

#register-div > form > div > input {
  font-family: monospace;
  border: black solid 1px;
  height: 1.25rem;
  width: 25em;
  float: right;
}

#register-div > form > div > select {
  width: 10em;
  height: 1.25em;
  font-family: "Zain", serif;
  font-size: 1.25rem;
}

#register-div > form > div > select:hover {
  cursor: pointer;
}

#register-div > form > button {
  margin-top: 1em;
}

#projects-add-logoff-buttons {
  display: flex;
  justify-content: right;
  border-bottom: black solid 2px;
}

#projects-add-logoff-buttons > button {
  margin: 0 0 0.25em 0.5em;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#project-module {
  background-color: white;
  width: 30%;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 15px;
  min-width: 320px;
}

#project-module > h2 {
  font-weight: bold;
}

#project-module > p {
  font-size: 1.25rem;
}

#project-module > button {
  font-size-adjust: inherit;
  display: block;
  display: inline-block;
  width: 30%;
  margin: 1em 0.225em;
}

#assign-project {
  display: flex;
  justify-content: center;
  text-align: center;
}

#assign-project > div > table {
  font-size: 1.25rem;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

#project-table-header > th {
  border-bottom: black solid 2px;
}

#assign-project > div > table > th,
td {
  width: 10em;
  margin: 1em;
}

#assign-project > div > label {
  margin-top: 1em;
  font-weight: bold;
}

#assign-project > div > select {
  margin-left: 1em;
  margin-top: 2em;
  width: 10em;
}

#assign-project > div > label,
select {
  font-size: 1.25rem;
  font-family: "Zain", serif;
}

#assign-project > div > button {
  margin-top: 2em;
  margin-bottom: 2em;
}

#edit-project {
  display: flex;
  text-align: center;
}

#edit-project > form > div > label {
  font-size: 1.25rem;
  font-weight: bold;
  margin-right: 1em;
}

#edit-project > form > div > input {
  font-family: monospace;
  border: black solid 1px;
  height: 1.25rem;
  width: 20em;
}

#edit-project > form > div > select {
  width: 10em;
  height: 1.25em;
  font-family: "Zain", serif;
  font-size: 1.25rem;
}

#edit-project > form > button {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
